*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}



/* ///////////////R O O T///////////////////// */

:root{
    --drk-blue: hsl(233, 26%, 24%);
    --green:hsl(136, 65%, 51%);
    --lgt-blue:hsl(192, 70%, 51%);

    --grey-blue: hsl(233, 8%, 62%);
    --lght-grey-blue: hsl(220, 16%, 96%);
    --very-lght-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 5rem;
}
.nav-links>a{
    text-decoration: none;
    color: var(--grey-blue);
    margin-right: 1.5rem;
}

main{

}
footer{
    background-color: var(--drk-blue);
}